@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

*:focus,
*:hover {
  outline-radius: 0; }

html {
  font-size: 0.625em; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem; }

h1,
h2,
h3,
h4,
h5,
h6,
label {
  font-family: "Alata";
  font-weight: 500;
  letter-spacing: 1px; }

input,
textarea {
  transition: 200ms;
  outline: black solid 0; }
  input:focus,
  textarea:focus {
    outline: black solid 2px; }

.bg-dark {
  background-color: black; }

.bg-light {
  background-color: #fafafa; }

.bg-grey {
  background-color: #777; }

.bg-primary {
  background-color: #1000c8; }

.bg-primary-dark {
  background-color: #080062; }

.text-dark {
  color: black; }

.text-light {
  color: #fafafa; }

.text-grey {
  color: #777; }

.text-primary-dark {
  color: #080062; }

.text-gold {
  color: #ffed00; }

.star-half {
  background: linear-gradient(90deg, #ffed00 0, #ffed00 50%, #777 50%, #777 100%); }

.btn {
  border-radius: 10rem;
  padding: 1.5rem 2.75rem;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.4); }
  .btn:focus, .btn:hover {
    box-shadow: 3px 3px 11px 0 rgba(0, 0, 0, 0.4); }

.btn-primary {
  background-color: #1000c8;
  color: #fafafa; }
  .btn-primary:focus, .btn-primary:hover {
    background-color: #0c0095;
    color: #fafafa; }

.wrapper {
  width: 110rem;
  max-width: 110rem;
  display: flex;
  flex-direction: column;
  align-conent: center; }

.section {
  display: flex;
  padding: 6.5rem 2rem;
  justify-content: center;
  align-items: center;
  min-height: 100vh; }
  .section__header {
    display: flex;
    justify-content: center;
    font-family: "Alata";
    font-size: 4.5rem;
    font-weight: 700;
    margin-bottom: 1rem; }

.card {
  display: block;
  padding: 2rem 3.5rem;
  width: 400px;
  box-shadow: 3px 3px 10px 0 rgba(40, 40, 40, 0.2);
  background-color: #fafafa; }
  .card__header {
    font-weight: 300;
    margin-top: 1.5rem;
    margin-bottom: .75rem; }
  .card__part {
    margin-top: 2rem;
    margin-bottom: 2rem; }

.hidden {
  opacity: 0; }

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(1.1); }
  100% {
    opacity: 1;
    transform: scale(1); } }
.fade-in {
  animation-name: fade-in;
  -moz-animation-name: fade-in;
  /* Firefox */
  -webkit-animation-name: fade-in;
  /* Safari and Chrome */
  -o-animation-name: fade-in;
  /* Opera */
  animation-duration: 800ms;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: forwards;
  animation-iteration-count: 1; }

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-weight: 400;
  padding: 0;
  z-index: 1000;
  box-shadow: 3px 3px 11px 0 rgba(0, 0, 0, 0.4); }
  .navbar__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 110rem;
    width: 110rem; }
  .navbar__brand {
    text-decoration: none;
    display: inline-block;
    padding: 1rem 1.5rem;
    color: currentColor; }
  .navbar__list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .navbar__item {
    display: inline-block; }
  .navbar__link {
    text-decoration: none;
    display: block;
    padding: 1rem 1.5rem;
    color: currentColor; }
    .navbar__link:focus, .navbar__link:hover, .navbar__link.active {
      background-color: #fafafa;
      color: #080062; }
  .navbar #toggler {
    display: none; }
    .navbar #toggler:checked ~ .navbar__list {
      display: flex !important; }
    .navbar #toggler:checked ~ label {
      background-color: #fafafa;
      color: #151515; }
    .navbar #toggler:checked ~ .navbar__toggler > .line {
      background-color: rgba(250, 250, 250, 0);
      opacity: 0; }
    .navbar #toggler:checked ~ .navbar__toggler > .line::before {
      transform-origin: top left;
      transform: rotate(45deg) translate(-3px, 3px); }
    .navbar #toggler:checked ~ .navbar__toggler > .line::after {
      transform-origin: bottom left;
      transform: rotate(-45deg) translate(3px, 3px); }
  .navbar__toggler {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    padding-left: 1.5rem;
    padding-right: 1.5rem; }
    .navbar__toggler:focus, .navbar__toggler:hover {
      color: #151515;
      background-color: #fafafa; }
      .navbar__toggler:focus .line,
      .navbar__toggler:focus .line::before,
      .navbar__toggler:focus .line::after, .navbar__toggler:hover .line,
      .navbar__toggler:hover .line::before,
      .navbar__toggler:hover .line::after {
        background-color: #151515; }
    .navbar__toggler .line,
    .navbar__toggler .line::before,
    .navbar__toggler .line::after {
      display: block;
      width: 3rem;
      height: 2px; }
    .navbar__toggler .line {
      position: relative;
      background-color: #fafafa;
      transition: background-color 300ms ease;
      transition: opacity 300ms ease; }
    .navbar__toggler .line::before,
    .navbar__toggler .line::after {
      content: '';
      background-color: currentColor;
      position: absolute;
      transform: translate(0, 0) rotate(0);
      transition: transorm 300ms ease; }
    .navbar__toggler .line::before {
      top: -1rem; }
    .navbar__toggler .line::after {
      top: 1rem; }

@media screen and (min-width: 801px) {
  .navbar__list {
    display: flex; } }
@media screen and (max-width: 800px) {
  .navbar__list {
    display: flex;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #1000c8;
    box-shadow: 3px 3px 11px 0 rgba(0, 0, 0, 0.4); }
  .navbar__toggler {
    display: flex; } }
.button--scroll-down {
  background-color: black;
  color: #fafafa;
  border: none;
  padding: 4rem 3.5rem;
  box-shadow: 3px 3px 10px 0 rgba(40, 40, 40, 0.2);
  cursor: pointer; }

#home {
  width: 100%;
  height: 100vh;
  position: relative; }
  #home #canvas {
    width: 100%;
    height: 100%; }
  #home #hero {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../images/hero.jpg") no-repeat center center/cover; }
  #home .home__card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: calc(100vw - 4rem); }

@media screen and (max-width: 360px) {
  .home__card {
    padding: 1.5rem 2.5rem; } }
@media screen and (max-width: 280px) {
  .home__card {
    padding: 1.5rem 1.5rem; } }
#about {
  clip-path: polygon(0 0, 100% 0, 100% 92%, 0 108%); }
  #about .card {
    background-color: #fafafa; }

.about__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1100px; }
.about__container {
  display: flex; }
.about__content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }
.about__left, .about__right {
  flex-basis: 50%;
  padding: 1rem 1.5rem; }
.about__left {
  display: flex;
  flex-direction: column;
  align-content: center; }
.about__article {
  padding: .5rem .75rem;
  margin: 1.5rem 0; }
  .about__article-header {
    margin-bottom: .5rem; }
.about__photo {
  max-width: 100%;
  height: auto;
  max-height: 32rem;
  margin: auto; }
.about__skills {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
.about__skill {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin: .75rem 0; }
  .about__skill-name {
    display: inline-block;
    margin-right: auto; }
  .about__skill-meter {
    width: 70%;
    height: 2.6rem;
    -webkit-appearance: meter;
    appearance: meter;
    -moz-appearance: none;
    border-radius: 20rem;
    background: #eee;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) inset;
    margin-left: 2rem;
    border: none; }
    .about__skill-meter::-webkit-meter-bar {
      background: none;
      height: 2.6rem;
      border: none; }
    .about__skill-meter::-webkit-meter-optimum-value {
      border-radius: 20rem;
      background-color: #f0d600;
      box-shadow: -1px -2px 3px rgba(0, 0, 0, 0.2) inset; }
    .about__skill-meter::-moz-meter-bar {
      background: none;
      box-shadow: -1px -2px 3px rgba(0, 0, 0, 0.2) inset;
      border-radius: 20rem;
      border: none; }
    .about__skill-meter:-moz-meter-optimum::-moz-meter-bar {
      border-radius: 20rem;
      background-color: #f0d600;
      box-shadow: -1px -2px 3px rgba(0, 0, 0, 0.2) inset; }

@media screen and (max-width: 900px) {
  .about__skill {
    position: relative; }
    .about__skill-name {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10; }
    .about__skill-meter {
      position: absolulte;
      width: 100%;
      display: block;
      margin: 0;
      height: 2.5rem; } }
@media screen and (max-width: 640px) {
  .about__left, .about__right {
    padding: 0;
    margin: 0; }
  .about__right {
    margin-bottom: .75rem; }
  .about__content {
    flex-direction: column; }
  .about__article {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0; } }
#projects {
  background-color: #eeeeee;
  transform: skewY(-6deg); }
  #projects > * {
    transform: skewY(6deg); }
  #projects > .section__header {
    display: flex; }
  #projects > .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  #projects .projects__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    min-height: 50%;
    width: 100%;
    height: auto; }

@media screen and (max-width: 820px) {
  .projects__container {
    flex-direction: row !important;
    width: auto; } }
.project {
  margin: 2rem 2.5rem !important;
  display: flex;
  overflow: hidden;
  box-shadow: 3px 3px 10px 0 rgba(40, 40, 40, 0.2);
  max-width: 40rem; }
  .project__link {
    position: relative;
    color: inherit; }
  .project__image {
    position: relative;
    max-width: 100%;
    height: auto; }
  .project__caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.7);
    transition: opacity 300ms ease-in-out; }
    .project__caption:hover {
      opacity: 1; }
  .project__header {
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .project__paragraph {
    font-size: 1.75rem;
    margin-top: 1rem;
    margin-bottom: 1rem; }

@media screen and (max-width: 560px) {
  .project {
    margin-left: 0 !important;
    margin-right: 0 !important; } }
#contact > .section__header {
  display: flex; }
#contact > .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; }

.contact__form {
  width: 100%;
  max-width: 50rem; }
.contact__form-control {
  display: block;
  padding: 1.75rem 0 1rem;
  margin-bottom: 1.5rem;
  position: relative; }
  .contact__form-control input + span,
  .contact__form-control textarea + span {
    position: absolute;
    top: 0rem;
    left: 0;
    z-index: 100;
    transform: translate(1.24rem, 125%) scale(1);
    transform-origin: 0;
    color: #777;
    cursor: auto;
    transition: transform 250ms ease-out; }
  .contact__form-control input:focus-within,
  .contact__form-control textarea:focus-within {
    outline: none; }
  .contact__form-control input:focus-within + span,
  .contact__form-control input:not(:placeholder-shown) + span,
  .contact__form-control textarea:focus-within + span,
  .contact__form-control textarea:not(:placeholder-shown) + span {
    transform: translate(1.24rem, 0) scale(0.85); }
.contact__input, .contact__textarea {
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  padding: .75rem 1.25rem;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid black;
  position: relative;
  font-weight: 300;
  outline: black solid 0px;
  position: relative; }
  .contact__input::-webkit-input-placeholder, .contact__input:-ms-input-placeholder, .contact__input::placeholder, .contact__textarea::-webkit-input-placeholder, .contact__textarea:-ms-input-placeholder, .contact__textarea::placeholder {
    font-family: "Alata";
    font-weight: 300; }
  .contact__input:invalid, .contact__textarea:invalid {
    box-shadow: none;
    border-bottom: 3px solid #ec1111 !important; }
  .contact__input:focus, .contact__input:hover, .contact__textarea:focus, .contact__textarea:hover {
    border-bottom: 3px solid #23e7b9; }
  .contact__input:focus ~ label, .contact__input[value=""] ~ label, .contact__textarea:focus ~ label, .contact__textarea[value=""] ~ label {
    transform: scale(0.7) translate(-1rem, -2.25rem);
    outline-width: 3px;
    outline-radius: 0; }
.contact__textarea {
  resize: none; }
.contact__input-label {
  position: absolute;
  top: calc(.5rem + 1px);
  left: calc(.25rem + 1px);
  z-index: 100;
  transform: scale(1) translate(0, 0);
  background-color: white;
  padding: 0rem .5rem;
  -webkit-transform: 300ms transform;
  transition: 300ms transform; }
.contact__form-submit {
  margin-top: 1rem;
  width: 100%; }

.footer {
  display: block;
  width: 100%;
  background-color: #eeeeee;
  display: flex;
  padding: 6.5rem 2rem;
  justify-content: center;
  align-items: center; }
  .footer .wrapper {
    flex-direction: column;
    align-items: center; }
  .footer .socials {
    display: flex;
    flex-direction: row;
    margin-bottom: 4rem; }
  .footer .social {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 0 1.25rem;
    background-color: black;
    font-size: 3rem;
    width: 5.5rem;
    height: 5.5rem;
    cursor: pointer;
    border-radius: 50%;
    text-decoration: none;
    box-shadow: 3px 3px 8px 0 rgba(0, 0, 0, 0.4);
    color: #fff; }
    .footer .social:focus, .footer .social:hover {
      box-shadow: 3px 3px 11px 0 rgba(0, 0, 0, 0.4); }
    .footer .social--github:focus, .footer .social--github:hover {
      background-color: #24292e; }
    .footer .social--linkedin:focus, .footer .social--linkedin:hover {
      background-color: #2867B2; }
    .footer .social--facebook:focus, .footer .social--facebook:hover {
      background-color: #3b5998; }
  .footer__footprint {
    display: flex; }

/*# sourceMappingURL=style.css.map */
